

.head{
    background-color: #eb6734;
    color: #0e0d21;
    font-family: "Jersey 15", serif;
    font-weight:400;
    font-style: normal;
    font-size: 38px;
    padding-top: 5px;
}

#title{
    padding-left: 15px;
}

.nav_bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-size: 20px;
    
    
}

li a:hover{
    background-color: black;
}

body{
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    text-decoration: underline #eb6734;
    text-decoration-thickness: 2px; ;
}

img{
    max-width: 100%;
}

